---
import Hero from '../components/Hero';
import Section from '../components/Section';
import Layout from '../layouts/Layout.astro';
---

<Layout title="MeepleTup - Inicio">
	<main>
		<Hero client:load/>
		<Section />
		<Section />
	</main>
</Layout>
